$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}

.btn {
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  -moz-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  color: #525261;
  -webkit-transition: color, background 0.5s ease 0;
  -moz-transition: color, background 0.5s ease 0;
  -o-transition: color, background 0.5s ease 0;
  transition: color, background 0.5s ease 0;
  padding: 10px;
  display: block;
  font-size: 16px;
  border-radius: 5px;
}
.btn.active,
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  background: #525261;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  color: #656577;
  background: #e7e7e7;
}
.btn:hover:active,
.btn:hover.active {
  background: #67677a;
  color: #f4f4f4;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.btn:focus {
  color: #525261;
}
.btn:focus.active {
  color: #ffffff;
}
.btn.btn-success {
  background: #72c039;
  border: 1px solid #66ac33;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn.btn-success:hover {
  background: #66ac33;
  border: 1px solid #5fa130;
}
.btn.btn-success .glyphicon {
  color: #fafafa;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn.btn-delete {
  background: #d5283d;
  border: 1px solid #c02437;
  color: #fafafa;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn.btn-delete:hover {
  background: #c02437;
  border: 1px solid #b32233;
}
.btn.btn-delete .glyphicon {
  color: #fafafa;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn .caret {
  border-top-color: #525261;
}
.btn-group {
  background: #f8f8f8;
}