_Store
local_config.php
*~
php_errors.log
*.backup
.project
.buildpath
.settings
node_modules/
dependencies/compiled/*.*
index.html
training-log.css
training-log.js
test.html
config.json
/nbproject
.scratch/*
.tmp/*
*.pyc
sqlite_database
.env
