<div class="col-12 col-sm-3 col-lg-2 admin-nav" id="section-nav">
    <div class="hidden-sm">
        {{partial "footer"}}
    </div>
</div>
<div class="col-12 col-sm-9 col-lg-10 admin-content" id="app-content">
    {{yield}}
</div>
