<div class="navbar-text pull-right">
    <p class="user-info pull-left">
        Hi <strong> Casey</strong> | <a id="signout" href="/" {{action "logout"}}>Sign out</a>
    </p>
</div>
<ul class="nav navbar-nav pull-right">
    <p>link here</p>
</ul>