<div class="navbar navbar-fixed-top" id="top-nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="responsive-nav">
        <div class="nav-collapse collapse navbar-collapse">
            {{partial "authenticatedHeader"}}
        </div>
    </div>
</div>

<!-- App Wrapper -->
<div class="row main-window">
    {{outlet}}
</div>

<div class="row visible-sm">
    <div class="col-12 col-sm-3 col-lg-2">
        &nbsp;
    </div>
    <div class="col-12 col-sm-9 col-lg-10">
        {{partial "footer"}}
    </div>
</div>
